In [6]:
var1 = 'Hola Mundo'
var2 = 'var1'
print (var2)

var1

In [9]:
nombre = 'Pepe'
apellido = 'Gonzalez'
print (nombre + ' ' + apellido)

Pepe Gonzalez

In [10]:
a = 5
b = 10
print (a+b)

15

In [11]:
input ('Cómo te llamas?')
print (f'Me llamo {nombre}')

Me llamo Pepe

In [17]:
a = 5
b = 15
r1 = a + b
r2 = a - b
r3 = a * b
r4 = b / a
r5 = b - a
print (r1, r2, r3, r4, r5)

20 -10 75 3.0 10

In [18]:
lista = [1, 2, 3, 4, 5]
print (lista)

[1, 2, 3, 4, 5]

In [23]:
dia_semana = ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo']
print (dia_semana [-1])

Domingo

In [24]:
dia_semana[0] = 'Domingo'
print (dia_semana)

['Domingo', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo']

In [25]:
dia_semana.append('otro')
print (dia_semana)

['Domingo', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo', 'otro']

In [26]:
dia_semana.insert(0, 'primero')
print (dia_semana)

['primero', 'Domingo', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo', 'otro']

In [27]:
dia_semana.sort()
print (dia_semana)

['Domingo', 'Domingo', 'Jueves', 'Martes', 'Miercoles', 'Sabado', 'Viernes', 'otro', 'primero']

In [28]:
dia_semana.pop()
print (dia_semana)

['Domingo', 'Domingo', 'Jueves', 'Martes', 'Miercoles', 'Sabado', 'Viernes', 'otro']

In [30]:
#Ejercicio 1
var1 = 20
print(var1)

20

In [31]:
#Ejercicio 2
a = 5
b = 3
print (a+b)

8

In [ ]:
#Ejercicio 3
nombre = 'Pedro'
apellido= 'Gomez'
print (nombre + ' ' + apellido)

Pedro Gomez

In [41]:
#Ejercicio 4
edad = input('Por favor ingresa tu edad')
print (f'tienes {edad} años')

tienes 5 años

In [42]:
#Ejercicio 5
x = 7
y = 9
print (x+y)

16

In [ ]:
#Ejercicio 6
numeros = [1, 2, 3, 4, 5]
print (numeros)

[1, 2, 3, 4, 5]

In [ ]:
#Ejercicio 7
for i in range (1, 4):
    print (i)

1
2
3

In [46]:
#Ejercio 8
valores = [10, 20, 30]
suma = sum(valores)
print (f'La suma de los valores es: {suma}')

La suma de los valores es: 60

In [47]:
#Ejercicio 9
a = 10
b = 15
resultado = a < b
print (f'¿a es menor que b? {resultado}')

¿a es menor que b? True

In [48]:
#Ejercicio 10
x = 8
y = 4
print (x/y)

2.0

In [ ]:
#Ejercicio 11
persona = {
    'nombre': 'Juan',
    'edad': 30
}
print (persona)

{'nombre': 'Juan', 'edad': 25}

In [62]:
#Ejercicio 12
persona = {'nombre': "Juan", "edad": 30}
print(persona["nombre"])

Juan

In [74]:
#Ejercicio 13
for i in range(6):
    print (i)

0
1
2
3
4
5

In [75]:
#Ejercicio 14
colores = ["rojo", "verde", "azul"]
colores [1] = 'amarillo'
print (colores)

['rojo', 'amarillo', 'azul']

In [76]:
#Ejercicio 15
x = 10
if isinstance(x, int):
    print ('Es un entero')
else:
    print ('No es un entero')

Es un entero

In [87]:
#Ejercicio 16
def saludar(nombre):
    print (f'Hola, {nombre}!')
saludar ('Javier')

Hola, Javier!

In [88]:
#Ejercicio 17
def area_rectangulo(base, altura):
    return base * altura
base = 5 
altura = 10
area = area_rectangulo(base, altura)
print (f'El area del rectanguloa es {area}')

El area del rectanguloa es 50

In [90]:
#Ejercicio 18
frutas = ["manzana", "plátano", "cereza"]
frutas.remove('plátano')
print(frutas)

['manzana', 'cereza']

In [91]:
#Ejercicio 19
numero = 6
if numero % 2 == 0:
    print ('Es par')
else:
    print ('Es impar')

Es par

In [92]:
#Ejercicio 20
a = 5
b= 10
if a > 3 and b > 3:
    print ('Ambas variables son mayores que 3')
else:
    print('Una o ambas variables no son mayores que 3')

Ambas variables son mayores que 3

### Segunda tanda de ejercicios:

In [ ]:
#Ejercicio 1
if 5 > 3:
    print ('5 es mayor que 3')

5 es mayor que 3

In [ ]:
#Ejercicio 2
x = 10
print (x)

10

In [ ]:
#Ejercicio 3
a = 7
b = 5
if a > b:
    print ('a es mayor que b')
else:
    print ('b es mayor que a')

a es mayor que b

In [115]:
#Ejercicio 4
nombre = 'Juan'
apellido = 'Pérez'
print (nombre + ' ' + apellido)

Juan Pérez

In [ ]:
#Ejercicio 5
# x = 5 es el valor que se le da a la variable x

In [117]:
#Ejercicio 6
a = 8
b = 8
if a == b:
    print ('a y b son iguales')
else:
    print ('a y b no son iguales')

a y b son iguales

In [ ]:
#Ejercicio 7
for i in range (1, 6):
    print (i)

1
2
3
4
5

In [121]:
#Ejercicio 8
i = 1
while i <= 5:
    print (i)
    i += 1

1
2
3
4
5

In [122]:
#Ejercicio 9
saludo = input ('Hola, ¿Cómo te llamas?')
print(f'Hola, {saludo}!')

Hola, Pepe!

In [124]:
#Ejercicio 10
nombre = 'Carlos'
edad = '25'
print (f'Me llamo {nombre} y tengo {edad} años')

Me llamo Carlos y tengo 25 años

In [125]:
#Ejercicio 11
frutas = ['manzana', 'banana', 'cereza']   
frutas.remove('banana')
print(frutas)

['manzana', 'cereza']

In [5]:
#Ejercicio 12
x = 8
y = 4
print (x+y)
print (x-y)
print (x*y)
print (x/y)

12
4
32
2.0

In [130]:
#Ejercicio 13
try:
    resultado =10/0
except ZeroDivisionError:
    print ('No se puede dividir por cero')

No se puede dividir por cero

In [132]:
#Ejercicio 14
colores = ['rojo', 'verde', 'azul']
print (colores[1])

verde

In [137]:
#Ejercicio 15
persona = {'nombre': 'Javier', 'edad': 27, 'ciudad': 'La Laguna'}
print(persona['nombre'])

Javier

In [138]:
#Ejercicio 16
numeros = [1, 2, 3]
numeros.append(4)
print(numeros)

[1, 2, 3, 4]

In [3]:
#Ejercicio 17
numeros = list(range(2, 11, 2))
print(numeros)

[2, 4, 6, 8, 10]

In [140]:
#Ejercicio 18
nombre = input('¿Cómo te llamas?')
print (nombre)

Javier

In [145]:
#Ejercicio 19
def multiplicar(a, b):
    return a * b
resultado = multiplicar(5, 10)
print(f'El resultado es: {resultado}')

El resultado es: 50

In [ ]:

#Ejercicio 20

if isinstance(x, int):
    print ('Es un entero')
else:
    print ('No es un entero')

Es un entero

In [18]:
def multiplicar(a, b):
    return a * b
resultado = multiplicar(5, 10)
print(f'El resultado es: {resultado}')

El resultado es: 50